# Python
gtdp/
**/gtdp/
__pycache__/
*.py[cod]
.venv/
venv/
env/
*.egg-info/
.pytest_cache/
.ipynb_checkpoints/

# Secrets / environment
.env

# Data: keep folder structure, ignore the actual data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# OS / editor
.DS_Store
.vscode/
.idea/

# Ignore local dbt compile logs and database targets
dbt_transformation/logs/
dbt_transformation/target/
dbt_transformation/.user.yml
*.log

# Ignore local Airflow execution logs and downloaded compose manifests
airflow/logs/